@import '../../../../App.scss';

.xdealer {
  background-color: $pblue;
  margin-top: 60px;
  padding-bottom: 30px;
}

.xdealer-b {
  background-color: $wht;
  color: $blk;
}
.xdealerT {
  color: $wht;
}
//
